doctype html
html(lang="en")
    head
        title= "Scrape a Page!"
    body
        h1 Enter in a URL and a class that the scraper will use to scrape text into the database
        form(name="urlForm", action="/scrape", method="post")
            label(for="url") URL:
            input(type="text", name="url")
            label(for="class") .class:
            input(type="text", name="class")
            input(type="submit", value="Scrape!")